body {
  --grist-background-color: var(--main-section-background-color);
  --grist-padding: 15px;
  --grist-title-margin: 0 0 0 10px;
  --grist-title-border: none;
  --grist-title-color: var(--secondary-color);
  --grist-title-icon-color: var(--primary-color);
  --grist-title-icon-margin: 0 3px 2px 0;
  --grist-title-icon-size: 14px;
  --grist-title-with-grid-padding: 0;

  --grist-object-editor-font: normal 1em var(--theme-font);
  --grist-object-editor-color: var(--secondary-color);

  --grist-input-zoom: 1;
  --grist-input-progress-border: 1px solid rgba(255, 255, 255, 0.5);
  --grist-input-progress-background: rgba(121, 110, 110, 0.1);
  --grist-input-progress-bar-background: #4ac5fd;
  --grist-input-progress-bar-color: #fff;

  --grid-header-background-color: rgba(18, 105, 105, 0.05);
  --grid-header-border-color: rgba(18, 105, 105, 0.3);
  --grid-record-background-color: #fff;
  --grid-record-odd-background-color: #f6f6f6;
  --grid-footer-background-color: rgba(34, 166, 167, 0.7);
  --grid-header-color: var(--secondary-text-color);
  --grid-header-font: normal 1em/1.5 var(--theme-font);
  --grid-header-fontsize: 13px;
  --grid-record-wide-fontsize: 13px;
  --grid-record-selected-background-color: rgba(115, 188, 28, 0.2);
  --grid-record-focused-background-color: var(--primary-color);
  --grid-record-focused-color: #fff;
  --grid-record-focused-border: 1px dashed rgba(0, 0, 0, 0.5);
  --grid-record-dirty-border-top: 24px solid #95d40f;
  --grid-record-dirty-border-left: 24px solid transparent;
  --grid-record-dirty-icon-font: bold 10px/12px var(--mdc-icon-font, 'Material Icons');
  --grid-footer-font-size: 0.9em;
  --grid-footer-color: #fff;
  --grid-footer-limit-color: rgba(255, 255, 255, 0.6);
  --grid-footer-inactive-color: rgba(255, 255, 255, 0.3);
  --grid-footer-padding: 3px 5px 2px 5px;

  --data-list-background-color: var(--main-section-background-color);
  --data-list-item-margin: 5px 0 5px 10px;
  --data-list-item-padding: 5px 15px;
  --data-list-item-border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  --data-list-item-name-font: bold 1em/1em var(--theme-font);
  --data-list-item-name-color: var(--secondary-color);
  --data-list-item-disc-font: normal 0.8em/0.8em var(--theme-font);
  --data-list-item-disc-color: var(--secondary-text-color);
  --data-list-item-etc-font: normal 0.7em/0.7em var(--theme-font);
  --data-list-item-etc-color: #585858;
  --data-list-item-icon-font: normal 1em/1em;
  --data-list-item-icon-color: var(--secondary-text-color);
  --data-list-selected-background-color: var(--grid-record-selected-background-color);
  --data-list-fab-position-horizontal: 15px;
  --data-list-fab-position-vertical: 15px;
  --data-list-fab-color: var(--primary-color);
  --data-list-fab-shadow: var(--box-shadow);

  --record-view-footer-height: 36px;
  --record-view-footer-background: #586272;
  --record-view-footer-button-height: 36px;
  --record-view-footer-button-color: #fff;
  --record-view-footer-iconbutton-size: 16px;
  --record-view-footer-focus-background: var(--primary-color);
  --record-view-background-color: var(--main-section-background-color);
  --record-view-label-font: bold 15px var(--theme-font);
  --record-view-label-color: var(--secondary-color);
  --record-view-font: normal 15px var(--theme-font);
  --record-view-color: var(--secondary-color);
  --record-view-focus-color: var(--primary-color);
  --record-view-border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  --record-view-edit-border-bottom: 2px solid var(--primary-color);
  --record-view-item-padding: 5px;
}

@media only screen and (max-width: 460px) {
  body {
    --grist-padding: 0;
    --grist-input-zoom: 1.4;

    --record-view-footer-height: 50px;
    --record-view-footer-button-height: var(--record-view-footer-height);
    --record-view-footer-iconbutton-size: 35px;
    --record-view-footer-iconbutton-margin: -2px;
    --record-view-footer-iconbutton-display: block;
  }
}

@media (min-width: 461px) and (max-width: 1024px) {
  body {
    --grist-padding: 0;
    --grist-input-zoom: 1.4;

    --record-view-footer-height: 50px;
    --record-view-footer-button-height: var(--record-view-footer-height);
    --record-view-footer-iconbutton-size: 35px;
    --record-view-footer-iconbutton-margin: -2px;
    --record-view-footer-iconbutton-display: block;
  }
}
@media print {
  body {
    --grist-input-zoom: 0.7;
  }
}
